@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
}
